{
  "*": "secretlint",
  "*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.py": [
    "black"
  ],
  "*.md": [
    "npx markdown-link-check -q -c .github/linters/mlc_config.json"
  ]
}
